@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(Roboto-Bold.ttf);
  font-weight: bold;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Roboto;
}

header {
  background-color: #014421;
}

img.logo {
  width: 20px;
  position: absolute;
  left: 10px;
  top: 7px;
}

a {
  color: black;
}
a.logo {
  position: relative;
  margin-right: auto;
  width: 22px;
}
a.logo img {
  filter: invert(1);
}

nav {
  display: flex;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
}
nav a:hover, nav a.active {
  background-color: #3E6F56;
}
nav a:last-child {
  margin-right: 0;
}

section.hero {
  max-width: none;
}

section.hero, section.single-section {
  margin-top: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: white;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.hero::before, section.single-section::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #014421;
  opacity: 0.7;
}

section .content {
  width: 100%;
  padding: 100px 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
}
section h2 {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  margin-bottom: 15px;
}

.card {
  padding: 0 15px;
}
.card img {
  max-width: 100%;
}

.action-call {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.action-call::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #014421;
  opacity: 0.7;
}
.action-call h2 {
  color: white;
}
.action-call form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.action-call form .form-input {
  width: 100%;
  margin-top: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-call form .form-input label {
  display: block;
  min-width: 70px;
  font-weight: bold;
}
.action-call form .form-input input {
  display: block;
  border: none;
  padding: 2px 5px;
}
.action-call form .form-input input:focus {
  outline: none;
}
.action-call form .submit {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
.action-call form button {
  border: none;
  background-color: #8CC84B;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 2px 4px 2px #014421;
  cursor: pointer;
}
.action-call form button:hover {
  background-color: #A0BAA6;
}

.weather {
  display: flex;
  margin-top: 25px;
}
.weather div {
  border-right: white 1px solid;
  padding: 0 5px;
}
.weather div:last-child {
  padding: none;
  border: none;
}

footer {
  background-color: #014421;
  color: rgb(186, 186, 186);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer a {
  color: rgb(186, 186, 186);
}
footer .footer-logo {
  max-width: 20px;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-right: 15px;
}
footer .footer-links a {
  margin-top: 5px;
}
footer .copyright {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #3E6F56;
}

/*# sourceMappingURL=base.css.map */
