@media (min-width: 768px) {
  .card {
    padding: 0 15px;
    width: calc(50% - 30px);
  }
  section .content p {
    text-align: center;
    max-width: 576px;
  }
  main.sidebared .sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
    padding: 15px;
  }
  main.sidebared .sidebar .side-card {
    margin: 20px 0 10px 0;
  }
  main.sidebared .content {
    margin-left: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  main.order {
    display: flex;
    flex-wrap: wrap;
  }
  main.order section.company-card {
    width: 40%;
  }
}
@media (min-width: 992px) {
  section {
    max-width: 992px;
  }
  nav {
    max-width: 992px;
    margin: 0 auto;
  }
  main.order {
    display: flex;
    flex-wrap: wrap;
  }
  main.order section.company-card {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  main.sidebared {
    max-width: 1200px;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
  }
  .banner .close {
    right: 50px;
  }
}

