:root {
    --sm-step: 5px;
    --mid-step: 15px;
    --big-step: 30px;
    --l-step: 100px;
    --red-light: rgb(255, 83, 83);
    --red: #763139;
    --red-dark: #45040C;
}

form {
    display: flex;
    flex-direction: column;
    margin: var(--big-step) auto;
}

form label {
    padding-top: var(--mid-step);
}

form label input {
    float: right;
    margin-left: var(--mid-step);
    padding: var(--sm-step);
    margin-top: -7px;
}

form label input[type="range"] {
    width: 210px;
}

form input[type="submit"] {
    margin-top: var(--mid-step);
    background-color: var(--red);
    color: white;
    font-weight: bold;
    padding: var(--mid-step) 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;

}
form input[type="submit"]:hover {
    background-color: var(--red-dark);
}

form label input.error {
    outline: 2px var(--red-light) solid;
    border-radius: 2px;
    border:2px solid var(--red-light);
}

h1.record {
    margin-top: var(--l-step);
}

h1.record span {
    color: var(--red);
    text-decoration: underline;
}