@media (min-width: 928px) {
  .navigation {
    flex-direction: row;
  }
  main {
    min-height: calc(100vh - 280px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main h1 {
    flex-basis: 100%;
  }
  .card:nth-child(2) {
    width: 60%;
  }
  .card:nth-child(3) {
    width: 30%;
  }
  footer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer p {
    margin: 10px;
  }
  footer p:last-child {
    flex-basis: 100%;
  }

  .hamburger_menu {
    display: none;
  }
  .navigation {
    max-height: none;
  }
}
